projects/n8n_project/rag_based_bot.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "464dab0b-5e71-4aef-b47b-07332fee33f9",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -60
      ],
      "webhookId": "auto-generated-webhook-id",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Answer the user's question: {{ $json.chatInput }}\n\nUse the Q&A tool to search for relevant information from the knowledge base. If you cannot find relevant information in the knowledge base, respond with 'I don't know' or 'I don't have information about that topic'.\n\nBe helpful and provide accurate information based only on what you find in the knowledge base.",
        "options": {
          "systemMessage": "You are a helpful and reliable university assistant designed to help students with questions related to the syllabus and academic topics.\n\n## 🧠 Your Knowledge Base\nYou have access to a syllabus knowledge base that includes:\n- Course outlines\n- Subjects and units\n- Topics covered per semester\n- Exam patterns and grading\n- Lecture and textbook references\n\nOnly use information found in the knowledge base via the Q&A tool. Do **not guess or make up information**.\n\n## 📌 Instructions\n- Answer only if relevant syllabus information is found.\n- If the answer is not present in the knowledge base, respond:  \n  `\"Sorry, I couldn't find that information in the syllabus.\"`\n- Keep responses clear and student-friendly.\n- Provide concise yet helpful explanations (1-3 sentences).\n- If a query seems vague, provide a clarification response.\n\n## ✅ Examples\n\n**Student:** \"What topics are covered in Unit 2 of Data Structures?\"  \n**You:** \"Unit 2 covers stacks, queues, and linked lists, as per the syllabus.\"\n\n**Student:** \"Is there a lab component in Operating Systems?\"  \n**You:** \"Yes, the syllabus includes a lab component with practicals on process scheduling and memory management.\"\n\n**Student:** \"What is the fee for the second semester?\"  \n**You:** \"Sorry, I couldn't find that information in the syllabus.\"\n\n"
        }
      },
      "id": "b2a38e9a-13cf-44ae-a045-e0f469eea781",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        340,
        -60
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "673c4ca3-fd6a-4690-9f06-43fe9f7aca07",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        140
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "OjaSrrQwbB5vIXld",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "test-n8n",
          "mode": "list",
          "cachedResultName": "test-n8n"
        },
        "options": {
          "pineconeNamespace": "documents"
        }
      },
      "id": "5dca94a6-c252-48f5-be8e-90e164d263a8",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        520,
        300
      ],
      "credentials": {
        "pineconeApi": {
          "id": "JMwxJCDSBI25pjGF",
          "name": "PineconeApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "description": "Search the knowledge base for information relevant to the user's question. Use this tool to find context and facts from uploaded documents."
      },
      "id": "26b69e33-214b-4778-bd30-c9e4bff9f2b3",
      "name": "Knowledge Base Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        560,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "18a515c3-9c28-4dd8-aaef-91d897994a78",
      "name": "Google Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        580,
        440
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "OjaSrrQwbB5vIXld",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        840,
        260
      ],
      "id": "386eb2d7-77c4-4b05-8857-d8b33418ebd8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OjaSrrQwbB5vIXld",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "306899e3-d7ae-495b-b7e1-f1945465a933",
      "name": "simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        720
      ],
      "id": "86d81e0a-fa21-4d6e-8de0-97d5b7f7a6eb",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1WKDOJkThp3rk65rrEs8Zg6FvSSePhTuk",
          "mode": "list",
          "cachedResultName": "Curriculum Booklet CSE-Core 22-26.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1WKDOJkThp3rk65rrEs8Zg6FvSSePhTuk/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        340,
        720
      ],
      "id": "0c19457f-a8da-452a-9fca-6b9e16cff5bc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MMdb6wccw68z4H4C",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "test-n8n",
          "mode": "list",
          "cachedResultName": "test-n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        720
      ],
      "id": "7dd75650-5113-427a-a9c9-2d70320c4b44",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "JMwxJCDSBI25pjGF",
          "name": "PineconeApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        940
      ],
      "id": "7acb1f86-6adf-4bc2-acaa-07463d61bcf1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "OjaSrrQwbB5vIXld",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        780,
        920
      ],
      "id": "b858cf07-8359-4770-bb0b-fae99c5f4a18",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkSize": 4000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        860,
        1140
      ],
      "id": "d2f37bff-ae99-4779-93ad-35862f49d1a0",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base Search Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Search Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "99e21002d214226c6559bd5e1815b86c03817b37989cf475c38faa337b099a18"
  }
}